.explanation{
    padding-bottom: 25px;
}

.file-states-content{
    background-color: var(--accent-color);
    border-radius: 10px;
    border: 1px solid var(--text-color-primary);
    margin-top: 20px;
    padding: 15px;
}

.list-title{
    margin: 0 0 10px 0;
}

.state-div{
    background-color: var(--secondary-color);
    border: solid 1px var(--text-color-primary);
    padding-top: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.state-div:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.file-state{
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--third-color);
}
