.nav-section {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--secondary-color);
}
.explanation {
  padding-bottom: 25px;
}

.file-states-content {
  border-radius: 10px;
  margin-top: 20px;
}

.list-title {
  margin: 0 0 10px 0;
}

.state-div {
  background-color: var(--text-color-secondary);
  padding: 0 0 5px 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.state-div:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.span-state {
  background-color: var(--accent-color);
  padding: 5px;
  border-radius: 5px;
}

.best-practice-section {
margin-bottom: 35px;
}

.list {
  border-radius: 10px;
}

.list-item {
  background-color: var( --text-color-secondary);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
.list-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.list-item-header {
  display: flex;
  flex-direction: column;
}

.list-item-command {
  border-radius: 3px;
  background-color: var(--accent-color);
  padding: 5px;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.list-item-description {
  margin: 0;
}
@media screen and (min-width:550px){
  .nav-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-bottom: 2px solid var(--secondary-color);
  }
}
