:root {
  --background-color: #fefae0;
  --secondary-color: #a2a2a2;
  --accent-color: #ffb8a2;
  --text-color-primary: black;
  --text-color-secondary: whitesmoke;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
}

.header {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title {
  margin: 0;
  text-align: center;
}
.menu {
  margin: 0;
  list-style-type: none;
  padding: 16px 10px;
}
.menu li {
  display: inline-block;
  padding: 0 10px;
}
.submenu-hover {
  position: relative;
}
.submenu-hover:hover .submenu {
  display: block;
  border-radius: 5px;
}
.submenu {
  display: none;
  position: absolute;
  padding: 8px;
  top: 100%;
  background-color: var(--secondary-color);
}
.submenu li {
  display: block;
  padding: 5px;
}
.submenu-childhover:hover {
  border-radius: 5px;
}
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main-content {
  padding: 20px;
}
.footer {
  background-color: var(--secondary-color);
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}
